HciLab.Kinect/bin/
HciLab.Kinect/obj/
HciLab.motionEAP.InterfacesAndDataModel/bin/
HciLab.motionEAP.InterfacesAndDataModel/obj/
HciLab.Utilities/bin/
HciLab.Utilities/obj/
motionEAPAdmin/bin/
motionEAPAdmin/obj/

ubidisplays_lib/csdisplays/BlankTouch/bin
ubidisplays_lib/csdisplays/BlankTouch/obj

ubidisplays_lib/src/UbiDisplays/bin
ubidisplays_lib/src/UbiDisplays/obj
/*.suo
/ubidisplays_lib/src/*.suo
KinectDepthSmoothing/bin/
KinectDepthSmoothing/obj/
packages/
.vs/
